In [4]:
import requests
import pandas as pd
import numpy as np

**<h4>States Values Collections</h4>**

In [5]:
# states full names

dic_state_name = {'AP': 'Andhra Pradesh',
 'AR': 'Arunachal Pradesh',
 'AS': 'Assam',
 'BR': 'Bihar',
 'CT': 'Chhattisgarh',
 'GA': 'Goa',
 'GJ': 'Gujarat',
 'HR': 'Haryana',
 'HP': 'Himachal Pradesh',
 'JH': 'Jharkhand',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'MP': 'Madhya Pradesh',
 'MH': 'Maharashtra',
 'MN': 'Manipur',
 'ML': 'Meghalaya',
 'MZ': 'Mizoram',
 'NL': 'Nagaland',
 'OR': 'Odisha',
 'PB': 'Punjab',
 'RJ': 'Rajasthan',
 'SK': 'Sikkim',
 'TN': 'Tamil Nadu',
 'TG': 'Telangana',
 'TR': 'Tripura',
 'UP': 'Uttar Pradesh',
 'UT': 'Uttarakhand',
 'WB': 'West Bengal',
 'AN': 'Andaman and Nicobar Islands',
 'CH': 'Chandigarh',
 'DN': 'Dadra and Nagar Haveli and Daman and Diu',
 'DL': 'Delhi',
 'JK': 'Jammu and Kashmir',
 'LA': 'Ladakh',
 'LD': 'Lakshadweep',
 'PY': 'Puducherry'}

In [6]:
state_data = requests.get('https://data.covid19india.org/v4/min/data.min.json')

In [7]:
state_data

In [8]:
states = state_data.json()

In [9]:
states["AN"]

{'delta': {'tested': 1376, 'vaccinated1': 3, 'vaccinated2': 13},
 'delta21_14': {'confirmed': 9},
 'delta7': {'confirmed': 3,
  'recovered': 5,
  'tested': 8936,
  'vaccinated1': 884,
  'vaccinated2': 10640},
 'districts': {'Nicobars': {'delta7': {'vaccinated1': 62, 'vaccinated2': 811},
   'meta': {'population': 36842},
   'total': {'vaccinated1': 25394, 'vaccinated2': 20313}},
  'North and Middle Andaman': {'delta': {'vaccinated2': 8},
   'delta7': {'vaccinated1': 90, 'vaccinated2': 1839},
   'meta': {'population': 105597},
   'total': {'vaccinated1': 78945, 'vaccinated2': 59522}},
  'South Andaman': {'delta': {'vaccinated1': 3, 'vaccinated2': 28},
   'delta7': {'vaccinated1': 732, 'vaccinated2': 8012},
   'meta': {'population': 238142},
   'total': {'vaccinated1': 189662, 'vaccinated2': 120322}},
  'Unknown': {'delta21_14': {'confirmed': 9},
   'delta7': {'confirmed': 3, 'recovered': 5},
   'total': {'confirmed': 7651, 'deceased': 129, 'recovered': 7518}}},
 'meta': {'date': '2021-10-31',
  'last_updated': '2021-11-01T11:03:10+05:30',
  'population': 397000,
  'tested': {'date': '2021-10-31',
   'source': 'https://dhs.andaman.gov.in/NewEvents/851.pdf'},
  'vaccinated': {'date': '2021-10-31'}},
 'total': {'confirmed': 7651,
  'deceased': 129,
  'recovered': 7518,
  'tested': 598033,
  'vaccinated1': 294001,
  'vaccinated2': 200157}}

**<h1>Total States Data</h1>**

In [10]:
# loopng through the data for the total states data
states_total = []

for i in states.keys():
    if i not in 'TT':
        state = i
        population = int(states[i]['meta']['population'])
        deceased = int(states[i]['total']['deceased'])
        recovered = int(states[i]['total']['recovered'])
        tested = int(states[i]['total']['tested'])
        vaccinated1 = int(states[i]['total']['vaccinated1'])
        vaccinated2 = int(states[i]['total']['vaccinated2'])

        dictionary_state_total = {'state' : dic_state_name[state], 'state_short' : state, 'state_total_population' : population, 'state_total_deceased' : deceased, 'state_total_recovered' : recovered, 'state_total_tested' : tested, 'state_total_vaccinated_1' : vaccinated1, ' state_total_vaccinated_2' :vaccinated2}
        states_total.append(dictionary_state_total)

In [11]:
# creating dataframe of states total

states_total_df = pd.DataFrame(states_total)
print(len(states_total_df))
states_total_df.head(5)

36

,state,state_short,state_total_population,state_total_deceased,state_total_recovered,state_total_tested,state_total_vaccinated_1,state_total_vaccinated_2
0,Andaman and Nicobar Islands,AN,397000,129,7518,598033,294001,200157
1,Andhra Pradesh,AP,52221000,14373,2047722,29518787,32976969,20375181
2,Arunachal Pradesh,AR,1504000,280,54774,1185436,771875,534486
3,Assam,AS,34293000,5997,600974,24712042,20172463,8068795
4,Bihar,BR,119520000,9661,716390,50531824,49874828,18346781

In [12]:
# converting to csv states total
states_total_df.to_csv('states_total_df',index=False)

In [13]:
# states["AN"]

**<h4>States Delta</h4>**

In [14]:
#  loopng through the data for delta of states

states_delta = []
for i in states.keys():
    if i != 'TT':
        state = i
        confirmed = 0
        recovered = 0
        deceased = 0
        tested = 0
        vaccinated1 = 0
        vaccinated2 = 0
        if 'confirmed' in states[i]['delta']:
            confirmed += int(states[i]['delta']['confirmed'])

        if 'recovered' in states[i]['delta']:
            recovered += int(states[i]['delta']['recovered'])

        if 'deceased' in states[i]['delta']:
            deceased += int(states[i]['delta']['deceased'])

        if 'tested' in states[i]['delta']:
            tested += int(states[i]['delta']['tested'])

        if 'vaccinated1' in states[i]['delta']:
            vaccinated1 += int(states[i]['delta']['vaccinated1'])

        if 'vaccinated2' in states[i]['delta']:
            vaccinated2 += int(states[i]['delta']['vaccinated2'])

        dictionary_state_delta = {'state' : dic_state_name[state], 'state_short' : state, 'state_delta_confirmed' : confirmed, 'state_delta_recovered' : recovered, 'state_delta_deceased' : deceased, 'state_delta_tested' : tested, 'state_delta_vaccinated_1' : vaccinated1, 'state_delta_vaccinated_2' : vaccinated2}
        states_delta.append(dictionary_state_delta)

In [15]:
# creating dataframe of states delta
states_delta_df = pd.DataFrame(states_delta)
print(len(states_delta_df))
states_delta_df.head()

36

,state,state_short,state_delta_confirmed,state_delta_recovered,state_delta_deceased,state_delta_tested,state_delta_vaccinated_1,state_delta_vaccinated_2
0,Andaman and Nicobar Islands,AN,0,0,0,1376,3,13
1,Andhra Pradesh,AP,385,675,4,39848,20497,24137
2,Arunachal Pradesh,AR,1,9,0,334,42,195
3,Assam,AS,212,236,1,15060,19124,37463
4,Bihar,BR,8,9,0,226443,114694,145827

In [16]:
# converting to csv states delta
states_delta_df.to_csv('states_delta_df',index=False)