In [1]:
import requests
import pandas as pd
import numpy as np

**<h1>States Values Collections</h1>**

In [2]:
# states full names

dic_state_name = {'AP': 'Andhra Pradesh',
 'AR': 'Arunachal Pradesh',
 'AS': 'Assam',
 'BR': 'Bihar',
 'CT': 'Chhattisgarh',
 'GA': 'Goa',
 'GJ': 'Gujarat',
 'HR': 'Haryana',
 'HP': 'Himachal Pradesh',
 'JH': 'Jharkhand',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'MP': 'Madhya Pradesh',
 'MH': 'Maharashtra',
 'MN': 'Manipur',
 'ML': 'Meghalaya',
 'MZ': 'Mizoram',
 'NL': 'Nagaland',
 'OR': 'Odisha',
 'PB': 'Punjab',
 'RJ': 'Rajasthan',
 'SK': 'Sikkim',
 'TN': 'Tamil Nadu',
 'TG': 'Telangana',
 'TR': 'Tripura',
 'UP': 'Uttar Pradesh',
 'UT': 'Uttarakhand',
 'WB': 'West Bengal',
 'AN': 'Andaman and Nicobar Islands',
 'CH': 'Chandigarh',
 'DN': 'Dadra and Nagar Haveli and Daman and Diu',
 'DL': 'Delhi',
 'JK': 'Jammu and Kashmir',
 'LA': 'Ladakh',
 'LD': 'Lakshadweep',
 'PY': 'Puducherry'}

In [3]:
state_data = requests.get('https://data.covid19india.org/v4/min/data.min.json')

In [5]:
state_data

In [6]:
states = state_data.json()

**<h1>Total States Data</h1>**

In [7]:
# loopng through the data for the total states data
states_total = []

for i in states.keys():
    if i not in 'TT':
        state = i
        population = int(states[i]['meta']['population'])
        deceased = int(states[i]['total']['deceased'])
        recovered = int(states[i]['total']['recovered'])
        tested = int(states[i]['total']['tested'])
        vaccinated1 = int(states[i]['total']['vaccinated1'])
        vaccinated2 = int(states[i]['total']['vaccinated2'])

        dictionary_state_total = {'state' : dic_state_name[state], 'state_short' : state, 'state_total_population' : population, 'state_total_deceased' : deceased, 'state_total_recovered' : recovered, 'state_total_tested' : tested, 'state_total_vaccinated_1' : vaccinated1, ' state_total_vaccinated_2' :vaccinated2}
        states_total.append(dictionary_state_total)

In [10]:
# creating dataframe of states total

states_total_df = pd.DataFrame(states_total)
print(len(states_total_df))
states_total_df.head(5)

36

,state,state_short,state_total_population,state_total_deceased,state_total_recovered,state_total_tested,state_total_vaccinated_1,state_total_vaccinated_2
0,Andaman and Nicobar Islands,AN,397000,129,7518,598033,294001,200157
1,Andhra Pradesh,AP,52221000,14373,2047722,29518787,32976969,20375181
2,Arunachal Pradesh,AR,1504000,280,54774,1185436,771875,534486
3,Assam,AS,34293000,5997,600974,24712042,20172463,8068795
4,Bihar,BR,119520000,9661,716390,50531824,49874828,18346781

In [11]:
# converting to csv states total
states_total_df.to_csv('states_total_df',index=False)